body {
    background: darkblue;
    font-family: 'Courier New', Courier, monospace;
}

.articles, a {
    color: #ffffff;
}

h1 {
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

.article {
    color: #ffffff;
}

.wrapper {
    color: #ffffff;
}
